p.subtitle {
    font-size: 35px;
    line-height: 40px;
}

.btn-arrow {
    font-size: 30px;
    padding-left: 5rem;
    padding-right: 2rem;

    text-align: left !important;

    span::before {
        content: "l";
        margin-left: 5rem;
        margin-right: 1rem;
    }
}

#section-1 {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(12,29,62,1) 100%);

    color: white;

    .ttl-container {
        .title {
            font-size: 75px;
            margin-bottom: 2vh;
        }

        p.subtitle {
            max-width: 1045px;
        }
    }

    .btn-container {
        margin-top: 10vh;

        img {
            margin-right: 35px;
        }
    }
}

#section-2 {
    width: 100vw;
    height: 100vh;

    background-color: black;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    .tab-container {
        display: flex;
        justify-content: center;

        .btn-group {
            label {
                font-size: 30px;
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    }

    .table-container {
        margin-top: 10vh;
        margin-bottom: 10vh;

        .table {
            color: white;
            font-size: 30px;
            border-radius: 25px;

            thead {
                font-size: 20px;

                tr {
                    padding: 5rem;
                    background-color: #1a1a1a;
                }
            }
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }
}

#section-3 {
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;

    padding: 5vh;

    .img-container {
        img {
            width: auto;
            height: 438px;
        }
    }

    .ttl-container {
        .title {
            font-size: 71px;
        }

        .btn-container {
            margin-top: 10vh;
        }
    }
}

#section-4 {
    width: 100vw;
    height: 75vh;

    display: flex;
    align-items: center;

    background-color: black;
    color: white;

    .ttl-container {
        margin-bottom: 10vh;

        .title {
            font-size: 61px;
            margin-bottom: 2rem;
        }
    }

    .step-container {
        .img-container {
            display: flex;
            justify-content: center;

            .img-steps {
                width: auto;
                height: 269px;
            }
        }

        .title {
            font-size: 42px !important;
        }
    }
}

#section-5 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 75vh;

    background-color: #105DF3;
    color: white;

    .img-container {
        img {
            width: auto;
            height: 475px;
        }
    }

    .ttl-container {
        .title {
            font-size: 80px;
            margin-bottom: 10vh;
        }

        .subtitle {
            max-width: 985px;
        }
    }
}

.blue-bar {
    width: 100vw;
    height: 25px;

    background-color: #105DF3;

    margin-top: 24px;
}

#section-6 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 50vh;

    background-color: white;
    color: #0B1C3D;
    
    text-align: center;

    .sponsor-container {
        .ttl-container {
            .title {
                font-size: 65px;
            }
        }

        .img-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .img-sponsor {
                width: 395px;
                height: auto;
            }
        }
    }
}

#section-7 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 75vh;

    background-color: #0B1C3D;
    color: white;

    text-align: center;

    .title {
        font-size: 65px;
        margin-bottom: 5vh;
    }

    .subtitle {
        width: 1235px;
        margin-bottom: 5vh;
    }

    .btn-container {
        margin-bottom: 10vh;

        img {
            width: 315px;
            margin-right: 35px;
        }
    }

    .small {
        width: 1235px;
        font-size: 15px;
    }
}

#footer {
    display: flex;
    align-items: center;
    
    width: 100vw;
    height: 25vh;

    background-color: black;
    color: white;

    .left-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        
        .img-container {
            margin-bottom: 3vh;

            img {
                width: 156px;
                height: auto;
            }
        }
        .subtitle {
            font-size: 20px;
            width: 337px;
            line-height: 35px;
        }
    }

    .mid-container {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;

            li {
                margin-right: 5rem;
                text-align: center;
            }

            li:first-child::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f111';
                margin-right: .5rem;
            }
        }
    }

    .right-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-end;

        .subtitle {
            font-size: 25px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;

            font-size: 25px;

            li {
                margin-left: 1.75rem;
                text-align: right;

                a {
                    color: white;
                    transition: all ease-in-out .1s;
                }

                a:hover {
                    color: rgb(201, 201, 201);
                }
            }
        }
    }
}