@font-face {
  font-family: 'Circular Bold';
  src: url(./components/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: 'Circular Book';
  src: url(./components/assets/fonts/CircularStd-Book.otf);
}

* {
  font-family: Circular Book, sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: Circular Bold;
}